/* felles for alle pages*/
.banner {
    max-width: 100%;
    background-position-x: right;
    background-position-y: top;
}

body {
    font-family: 'ubuntu', sans-serif;
    background-color: #cdcdcd;
}

header {
    color: #cdcdcd;
    background-color: #283e3c;
    position: relative;

   
}
header .menu{
    padding: 20px 0px;
    display: block;
    width: 100%;
    text-align: center;
}
header a {
    text-decoration: none;
    color: #cdcdcd;
}
nav a {    
    text-transform: uppercase;
    display: block;
    padding: 20px;
    text-align: center;

}
/* I want the opened menu to cover all the way down to the bottom of the viewport, how*/
nav {
    background: #283e3c;
    width: 100%;
    padding: 20px 0px;

}
nav,
#hamburger {
    display: none;
}
#hamburger:checked ~ nav {
    display: block;
}

nav .menu {
    text-align: center;
}
/*I want to add an option to close the menu again, in place of the text saying menu, back arrow or X, use a transition maybe?*/
#hamburger:checked ~ .menu {
    text-decoration: underline;
    text-align: center;
}

/*underlining for the current page is only for the desktop version*/
.current{
    text-decoration: underline;
    text-decoration: none;

}
main {
    background-color: #cdcdcd;
}
h1 {
    text-align: center;
    font-weight: bold;
    padding: 4vh;
}

footer {
    background-color: #283e3c;
    color: #cdcdcd;
}
.product-img {

    background-color: #ffffff;
    padding: 2em;
    
    
}
.cta,
.cta-back{
    background-color: #283e3c;
    color: #cdcdcd;
    text-decoration: none;
    text-transform: lowercase;
    padding: 0.5em 2em;
    font-size: 1em;
    max-width: fit-content;
    margin: 00.5em;
    display: inline-block;

}
.cta-back {
    background-color: #769c99;
    color: #283e3c;




}
img{
    max-width: 71%;
}

.product-in-list {
    text-align: center;
}
/*background-color: #283e3c;*/