/* felles for alle pages*/

body {
    font-family: 'ubuntu', sans-serif;
    background-color: #cdcdcd;
}
.logo-parent {
    position: relative;
}
.banner {
    max-width: 100%;
    position: relative;
    background-position-x: right;
    background-position-y: top;
}
.logo {
    max-width: 42%;
    position: absolute;
    left: 50%;
    margin-left: -21%;
    top: 50%;
    margin-top: -11%;
   
}
header {
    color: #cdcdcd;
    background-color: #283e3c;
    position: relative;
}
header .menu{
    padding: 0.5em 0em;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}
header a {
    text-decoration: none;
    color: #cdcdcd;
}
nav a {    
    text-transform: uppercase;
    display: block;
    padding: 20px;
    text-align: center;
}
nav {
    background: #283e3c;
    width: 100%;
    padding: 20px 0px;
}
nav,
#hamburger {
    display: none;
}
#hamburger:checked ~ nav {
    display: block;
}
#hamburger:checked ~ .menu {
    text-decoration: underline;
}
main {
    background-color: #cdcdcd;
    display: grid;
    max-width: 71%;
    margin: auto;
    padding-bottom: 5vh;
}
h1 {
    text-align: center;
    font-weight: bold;
    padding-top: 4vh;
}
h2{
    font-size: 1.1em;
    text-align: left;
}
footer {
    background-color: #283e3c;
    color: #cdcdcd;
    padding: 0.4em;
}
.contact-setup div,
.contact-setup p {
    display: flex;
    padding: 0.1em;
}
.contained {
    max-width: 230px;
}
.footer-marg {
    max-width: 71%;
    margin: auto;
    padding: 2em;
}

footer .copy {
    padding: 1.5em;
    text-align: center;
}
p {
    text-align: left;
}
/*products*/
.product-img {
    background-color: #ffffff;
    max-width: 90%;
    padding: 5%;
}
.prod-name {
    float: left;
}
.prod-price {
    float: right;
}

.spec-price{
    text-align: right;
}

/*btns*/
.cta {
    background-color: #283e3c;
    color: #cdcdcd;
    text-decoration: none;
    text-transform: lowercase;
    padding: 0.5em 2.5em;
    font-size: 1em;
    max-width: fit-content;
    margin: 00.5em;
    display: inline-block;
}
.cta-back {
    background-color: #769c99;
    color: #000;
}
img{
    max-width: 100%;
}
.middle{
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}
.jacketcontainer{
    display: flex;
    background: #ffffff;
}

.product-in-list {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.someair {
    margin-top: 1em;
    margin-bottom: 2em;
}

/*underlining for the current page is only for the desktop version + extra text in product list*/
.current{
    text-decoration: underline;
}
.p2 {
    display: none;
}
/*Success*/
.success {
    background-color: #ffffff;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 5vh;
    max-width: fit-content;
    padding: 4% 4% 4% 4%;
}
.success p {
    text-align: center;    
    font-size: 0.8em;

}
.tobecontinued {
    margin: auto;
}
/*forms*/
legend{
    font-weight: bold;
    font-size: 1.2em;
    background-color: #ffffff;
}
fieldset {
    margin-bottom: 3%;
    background-color: #ffffff;
}
fieldset input {
    margin-bottom: 3%;
    background-color: #ffffff;
}
fieldset label {
    font-size: 1em;
    
}
fieldset div {
    display: flex;
    flex-direction: column;
}
.prod-in-cart {
    width: 45%;
}
.cart-price{
font-weight: bold;
}
.cart-text {
    float: right;
    clear: right;
}

@media (min-width: 800px) {
    nav {
        display: block;
        max-width: 71%;
        margin: auto;
    }
    header .menu {
        display: none;
    }
    nav a {
        display: inline-block;
        width: 24%;
        padding: 0px;
    }
}
/*about*/
@media (min-width: 1000px) {
    .abt-grid {
        display: grid;
        column-gap: 20%;
        row-gap: 0;
        margin-top: 3em;
        grid-template-columns: 40% 40%;
        grid-template-areas: 
        'bilde overskrift'
        'bilde fortell';
    }
    .abt-img {
        grid-row: span 2;
        grid-area: bilde;
    }
    .abt-story {
        padding-bottom: 2em;
        grid-area: fortell;
    }
    .abt.head { 
        grid-area: overskrift; 
    }
    .abt-grid2 {
        grid-template-areas: 
        'overskrift bilde'
        'fortell bilde';    
    }
    .spec-grid{
        display: grid;
        column-gap: 20%;
        row-gap: 0;
        grid-template-columns: 40% 40%;
        grid-template-areas: 
        'bilde info1'
        'bilde info2'
        'pris knapper'
        ;
    }
    .spec-img {
        grid-area: bilde;
        margin: auto;
    }
    .spec-info1 {
        grid-area: info1;
    }
    .spec-info2 {
        grid-area: info2;
    }
    .spec-price {
        grid-area: pris;
        text-align: left;
    }
    .spec-btns {
        grid-area: knapper;
    }
     .list-grid{
        display: grid;
        column-gap: 20%;
        row-gap: 0;
        grid-template-columns: 40% 40%;
        grid-template-areas: 
        'bilde overskrift'
        'bilde fortell'
        'bilde knapper';
    }
    .list-head {
        grid-area: overskrift;
    }
    .list-img {
        grid-area: bilde;
        margin: auto;
    }
    .list-info {
        grid-area: fortell;
    }
    .list-btns {
        grid-area: knapper;
    }
    .p2{
        display: inline-block;
    }
    }

   
    
